.see-more-btn {
  color: white;
  background: none;
  font-size: 20px;
  text-align: left;
  position: relative;

  div:first-child {
    display: flex;
    height: auto;
  }
}

svg {
  fill: white;
  position: absolute;
  top: 50%;
  height: 80%;
  transform: translateY(-50%);
  vertical-align: middle;
}

@media (max-width: 1200px) {
  .see-more-btn {
    font-size: 16px;
  }
}
