@import "../../App.scss";

.hero {
  @include flex-center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: url(../../Assets/Images/bg.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .hero__header,
  .hero__sub-text {
    color: white;
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
  }

  .hero__sub-text {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .hero__header {
    margin: 0;
    text-align: center;
    font-size: 112px;
    line-height: 100%;
    text-shadow: 4px 4px 5px rgba(29, 29, 29, 0.63);
  }

  .hero__button {
    color: $secondary-color;
    font-weight: 600;
    font-size: 40px;
    padding: 8px 50px;
    margin-top: 40px;
    &:hover {
      background-color: white;
    }
  }

  .hero-carousel-wrapper {
    width: 600px;
  }
}

@media (max-width: 1200px) {
  .hero {
    .hero__sub-text {
      font-size: 20px;
    }

    .hero__header {
      font-size: 80px;
    }

    .hero__button {
      font-size: 30px;
    }

    .hero-carousel-wrapper {
      width: 400px;
    }
  }
}

@media (max-width: 576px) {
  .hero {
    .hero__sub-text {
      font-size: 16px;
    }

    .hero__header {
      font-size: 60px;
    }

    .hero__button {
      font-size: 20px;
    }

    .hero-carousel-wrapper {
      width: 300px;
    }
  }
}

@media (max-width: 420px) {
  .hero {
    .hero__sub-text {
      font-size: 14px;
    }

    .hero__header {
      font-size: 50px;
    }

    .hero__button {
      font-size: 18px;
    }

    .hero-carousel-wrapper {
      width: 250px;
    }
  }
}
