.carousel-outer .carousel .slide {
  background: none;
}

.hero-slide {
  padding: 30px;
  height: 15vh;
}

.hero-slide {
  color: white;
  font-size: 24px;
}

.carousel-status,
.control-dots {
  display: none;
}
