@import "../../App.scss";

.navbar {
  position: fixed;
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  top: 0;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.site-links {
  display: flex;
  width: 70%;
  height: 100%;
  align-items: center;
}

.navigation-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  li {
    outline: none;
    font-size: 16px;
    background: none;
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    a {
      text-decoration: none;
      color: inherit;
    }

    &:hover {
      color: $secondary-color;
    }
  }
}

.logo {
  margin-left: 30px;
  width: 80px;
}

.login-buttons {
  @include flex-center;
  width: 30%;
  background-color: #35124b;
  button {
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 20px;
    padding: 4px 16px;
    margin-right: 40px;
    text-transform: uppercase;

    &:first-child {
      color: #002d5c;
    }

    &:last-child {
      color: $secondary-color;
      margin-right: 0;
    }
  }
}

.burger {
  display: none;

  div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
  }
}

@media screen and (max-width: 1600px) {
  .nav-links {
    width: 70%;
  }
}

@media screen and (max-width: 1200px) {
  .nav-links {
    flex-direction: column;
    position: absolute;
    right: 0;
    height: 80vh;
    top: 50px;
    background: white;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
  }

  .burger {
    display: block;
    margin-right: 40px;
    cursor: pointer;
  }

  .site-links {
    width: 100%;
  }
  .navigation-buttons {
    flex-direction: column;
    width: 100%;
    height: 100%;
    li {
      font-size: 25px;
    }
  }

  .login-buttons {
    width: 100%;
    flex-direction: column;

    button {
      font-size: 25px;
      width: 70%;
      margin: 10px 0;
    }
  }
  .nav-active {
    transform: translateX(0%);
  }
}
