@import "../../App.scss";

.footer {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f5f4f5;
  min-height: 25vh;
  padding: 20px 60px;
}

.footer__right,
.contact-form,
.footer__links {
  width: 50%;
}

.footer__left {
  display: flex;
  min-width: 50vw;
}

.footer__links {
  display: flex;
  flex-direction: column;

  div:nth-child(2) {
    margin-right: 10%;
  }
  h1 {
    color: $primary-color;
    font-size: 25px;
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    li {
      font-size: 16px;
      color: rgb(167, 167, 167);
    }
  }
}

.links-wrapper {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
}

@media (max-width: 768px) {
  .footer,
  .footer__left {
    flex-direction: column;
  }

  .footer {
    padding: 60px;
    div {
      margin-bottom: 20px;
    }
  }

  .contact-form,
  .footer__links {
    width: 100%;
  }
}

// .rights-banner {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   background-color: white;
//   text-align: center;
// }
