@import "../../App.scss";

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  flex: 1;
  padding: 0 60px;
  background: url(../../Assets/Images/jobs.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.block__content {
  width: 60%;
}

.block__title {
  color: $primary-color;
  font-size: 40px;
  text-transform: uppercase;
}

.block__body {
  color: white;
  font-size: 28px;
}

@media (max-width: 1600px) {
  .block {
    height: 60vh;
  }

  .block__title {
    font-size: 30px;
  }

  .block__body {
    font-size: 20px;
  }
}

@media (max-width: 1600px) {
  .block {
    padding: 20px 60px;
  }
}

@media (max-width: 768px) {
  .block {
    padding: 10px 30px;
  }
  .block__content {
    width: 100%;
  }

  .block__title {
    font-size: 26px;
  }

  .block__body {
    font-size: 16px;
  }
}
