@import "../../App.scss";

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
  flex-basis: 100%;
  flex: 1;
  padding: 0 60px;
  background-color: rgb(191, 191, 240);
}

.block__content {
  width: 60%;
}

.block__title {
  color: $primary-color;
  font-size: 40px;
  text-transform: uppercase;
}

.block__body {
  color: rgb(75, 75, 75);
  font-size: 28px;
}
