@import "../../App.scss";

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
  flex: 1;
  padding: 0 60px;
  background: url(../../Assets/Images/jobs.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.block__content {
  width: 60%;
}

.block__title {
  color: $primary-color;
  font-size: 40px;
  text-transform: uppercase;
}

.block__body {
  color: white;
  font-size: 28px;
}
