$main-color: #002d5c;
$secondary-color: #7423b8;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: grey;
}

button {
  cursor: pointer;
  border: 0;
  font-family: "Nunito", sans-serif;
}
