@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: grey;
}

button {
  cursor: pointer;
  font-family: "Nunito", sans-serif;
}
